/* Ipad */
#about .items {
  display: block;
  padding: 1rem;
}

/* Smartphones */
@media(max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
  }

  #navbar ul {
    padding: 0.5rem
  }

  #skills .items {
    display: block;
    padding: 1rem;
  }

  #skills .items .item {
    text-align: center;
  }

  #contact .contact-form {
    margin: 2rem;
  }
}

@media(max-width: 350px) {
  #showcase .showcase-content .card {
    padding: 3rem 2rem;
  }

  .l-heading {
    font-size: 3rem;
    margin: 1rem 0;
    line-height: 3rem;
  }
}