:root {
  --dark-colour: #333;
  --light-colour: #f3f3f3;
  --pry-colour: #a4cb52;
  --sec-colour: #ddefd3;
  --white-colour: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: stephen-raleway;
  src: url(./fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: ubuntu;
  src: url(./fonts/UbuntuCondensed-Regular.ttf);
}

@font-face {
  font-family: staatliches;
  src: url(./fonts/Staatliches-Regular.ttf);
}

a {
  color: var(--white-colour);
  text-decoration: none;
}

body {
  background: var(--pry-colour);
  font-family: 'stephen-raleway';
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ubuntu';
  line-height: 1.3rem;
}

input,
textarea {
  border: none;
  border-radius: .25rem;
  padding: .5rem;
  width: 100%;
}

input:focus,
textarea:focus {
  outline-color: var(--pry-colour);
}

input::placeholder,
textarea::placeholder {
  color: #a0aec0;
}

/* to remove arrows/spinners from input type="number" for chrome, safari, edge, opera*/
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* to remove arrows/spinners from input type="number" for firefox*/
input[type=number] {
  -moz-appearance: textfield;
}

img {
  height: auto;
  max-width: 100%;
}

label {
  display: block;
  line-height: 2;
}

p {
  margin: .75rem 0;
}

textarea {
  height: 100px;
  resize: none;
}

/* Utility Classes */
.bg-sec {
  background: var(--sec-colour);
  color: var(--dark-colour);
}

.bg-green {
  background: var(--pry-colour);
  color: var(--dark-colour);
}

.btn {
  background: var(--pry-colour);
  border: none;
  border-radius: 5px;
  color: var(--white-colour);
  display: inline-block;
  padding: .5rem 2rem;
  transition: all 0.4s ease-in;
  width: 100%;
}

.btn:hover {
  background: #7ab436;
  outline: none;
}

.card {
  background-color: var(--dark-colour);
  border-radius: 2rem;
  box-shadow: 1px 1px 7px;
  padding: 4rem 2rem;
  text-align: center;
}

.container {
  margin: auto;
  max-width: 80%;
  overflow: hidden;
  padding: 0 2rem;
}

.l-heading {
  font-size: 3rem;
  line-height: 4rem;
  margin: 1.5rem 0;
}

.m-heading {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.pl-05 {
  padding-left: .5rem;
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.text-center {
  text-align: center;
}

.text-green {
  color: var(--pry-colour);
}

.text-white {
  color: var(--white-colour);
}

.vertical-center {
  align-items: center;
  display: flex;
}

/* Navbar */
#navbar {
  animation: narvbar 3s ease forwards;
  background: var(--dark-colour);
  color: var(--white-colour);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#navbar ul {
  align-items: center;
  display: flex;
  list-style: none;
}

#navbar ul li a {
  color: var(--white-colour);
  margin: 0 .25rem;
  padding: .75rem;
  transition: all 0.4s ease-in;
}

#navbar ul li a:hover {
  background: var(--pry-colour);
  border-radius: 5px;
}

/* showcase */
#showcase {
  background: var(--pry-colour);
  height: 100vh;
  position: relative;
}

#showcase::before {
  background: url('../img/showcase-bgn.jpg') no-repeat center center/cover;
  content: '';
  height: 100%;
  opacity: .8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#showcase .showcase-content {
  animation: showcaseBlur 2s ease-in;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 2rem;
}

#showcase .showcase-content .card {
  animation: card 2s forwards ease-in;
  opacity: 0;
}

#showcase .showcase-content .card .profile-pic {
  display: inline-block;
  height: 180px;
  width: 180px;
}

#showcase .showcase-content .card .profile-pic img {
  border-radius: 50%;
  box-shadow: 1px 1px 7px;
}

/* about */
#about .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}

#about .items .item-1 {
  padding: 1rem;
}

#about .items .item-2 {
  grid-column: 2 / span 2;
  padding: 1rem;
  text-align: justify;
}

#about .social-media {
  padding-top: 2rem;
}

/* skills */
#skills .skill-section .skill-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / span 2;
  padding: 1rem;
}

#skills .skill-section .skill-items .item {
  border-radius: 1rem;
  box-shadow: 1px 1px 7px var(--dark-colour);
  color: var(--dark-colour);
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

#skills .skill-section .skill-level {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-weight: bold;
  padding-bottom: 1rem;
}

#skills .skill-section .skill-level .skill-bar {
  background: var(--sec-colour);
  border-radius: 5px;
  box-shadow: 1px 1px 10px var(--dark-colour);
  color: var(--dark-colour);
  font-size: .6rem;
  width: 90%;
}

#skills .skill-section .skill-level .skill-bar .skills {
  border-radius: 5px;
  box-shadow: 1px 1px 15px var(--dark-colour);
  font-size: .7rem;
  padding: 6px 0;
  text-align: right;
}

#skills .skill-section .skill-level .skill-bar .stephen-html,
#skills .skill-section .skill-level .skill-bar .stephen-css {
  background: var(--pry-colour);
  width: 90%;
}

#skills .skill-section .skill-level .skill-bar .stephen-js {
  background: var(--pry-colour);
  width: 70%;
}

#skills .skill-section .skill-level .skill-bar .stephen-bootstrap {
  background: var(--pry-colour);
  width: 60%;
}

#skills .skill-section .skill-level .skill-bar .stephen-materialize {
  background: var(--pry-colour);
  width: 30%;
}

#skills .skill-section .skill-level .skill-bar .stephen-sass {
  background: var(--pry-colour);
  width: 50%;
}

/*Contact */
#contact .contact-form {
  background-color: var(--light-colour);
  border-radius: 1rem;
  box-shadow: 1px 1px 7px;
  margin: 3rem auto auto;
  max-width: 600px;
  padding: 2rem;
}

#contact .contact-form .form-group {
  margin: .5rem;
}

/* Thank you */
#ty-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  justify-content: space-between;
}

#thank-you {
  align-items: center;
  display: grid;
  justify-content: center;
}

#thank-you .btn {
  margin-top: 1rem;
}


/* Footer */
footer {
  background: var(--dark-colour);
  color: var(--white-colour);
  padding: .5rem;
}

/* Page Animation */
@keyframes card {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes narvbar {
  from {
    transform: translateY(-60px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes showcaseBlur {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}