* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: .75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-green {
  color: #a4cb52;
}

.text-dark {
  color: #000;
}

.text-gry {
  color: #1a1a1a;
}

.text-white {
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-green {
  background: #a4cb52;
  color: #fff;
}

.l-heading {
  font-size: 3rem;
  margin: 2rem 0;
  line-height: 4rem;
}

.m-heading {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.pb-1 {
  padding-bottom: 1.5rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.btn {
  color: #fff;
  background: #a4cb52;
  display: inline-block;
  padding: .5rem 2rem;
  border: none;
  border-radius: 5px;
  transition: all 0.4s ease-in;
}

.btn:hover {
  background: #7ab436;
}

.profile-pic img {
  border-radius: 50%;
  box-shadow: 5px 5px 5px;
}

/* Navbar */
#navbar {
  background: #333;
  color: #fff;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
  animation: narvbar 3s ease forwards;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: .75rem;
  margin: 0 .25rem;
  transition: all .3s ease-in;
}

#navbar ul li a:hover {
  background: #a4cb52;
  border-radius: 5px;
}

/* showcase */
#showcase {
  background: #a4cb52 url('../img/showcase-bgn.jpg') no-repeat center center/cover;
  height: 110vh;
  color: #333;
  position: relative;
  top: -100px;
}

#showcase .showcase-content {
  background-color: rgba(164, 204, 120, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  animation: showcaseBlur 1s forwards ease-in;
}

#showcase .showcase-content .card {
  background-color: #4f4f4f;
  text-align: center;
  box-shadow: 5px 5px 5px;
  border-radius: 2rem;
  padding: 4rem 2rem;
  opacity: 0;
  animation: card .8s forwards 1.1s ease-in ;
}

/* about */
#about .items {
  display: flex;
  padding: 1rem;
}

#about .items .item-1 {
  flex: 1;
  padding: 1rem;
}

#about .items .item-2 {
  flex: 2;
  text-align: justify;
  padding: 1rem;
}

#about .social-media {
  padding-top: 2rem;
}

/* skills */
#skills .items {
  display: flex;
  padding: 1rem;
}

#skills .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

/*Contact */
#contact .contact-form {
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  overflow: hidden;
  border-radius: 1rem;
}

#contact .contact-form .form-group {
  margin: .5rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: .5rem;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  padding:  .5rem;
}

/* Page Animation */
@keyframes narvbar{
  from{
    transform: translateY(-60px);
  }
  to{
    transform: translateY(0);
  }
}
@keyframes card{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes showcaseBlur {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}