@import 'config';
@import 'breakpoints';
@import 'customClasses';

body {
  font-family: 'stephen__raleway';

  nav {
    box-shadow: none !important;

    a {
      color: $black;
      @include transition__ease-in-out;

      &:hover {
        background-color: transparent !important;
        color: $green !important;
      }
    }

    .brand-logo {
      font-family: 'stephen__axis';

      @include brkpt (mobile) {
        font-size: 1rem;
      }
    }

    .hamburger {
      color: $green;

      @include brkpt (tab) {
        font-size: 2rem;
      }
    }

  }

  #mobile__nav {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;

    .nav__main {
      flex: 1 0 auto;
    }
  }

  #profile {
    .profile__img {
      img {
        height: 30vh;
        box-shadow: $green -1px 1px 7px;

        @include brkpt (tab) {
          height: 20vh;
        }

        @include brkpt (largedesktop) {
          height: 40vh;
        }
      }
    }
  }

  #skills {

    .html,
    .css,
    .ai,
    .metering,
    .leader {
      .progress {
        background-color: $grey;

        .percent {
          background-color: $green;
          width: 90%;
        }
      }
    }

    .js,
    .bs,
    .materialize,
    .sass,
    .wiring {
      .progress {
        background-color: $grey;

        .percent {
          background-color: $green;
          width: 70%;
        }
      }
    }

    .ps,
    .proteus {
      .progress {
        background-color: $grey;

        .percent {
          background-color: $green;
          width: 50%;
        }
      }
    }

    .figma,
    .ac,
    .matlab,
    .arduino {
      .progress {
        background-color: $grey;

        .percent {
          background-color: $green;
          width: 40%;
        }
      }
    }
  }

  #floating__btn {
    a {
      color: $white;
      @include transition__ease-in-out;

      &:hover {
        color: darken($color: $white, $amount: 5%);
        background-color: darken($color: $green, $amount: 5%);
      }
    }
  }

  footer {
    .row {
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}